__pycache__/*
# Information about our Git Repository
.git/*
README.MD
LICENSE
CODE_OF_CONDUCT.MD
.gitignore
Guides/*
# Jupyter Notebook Related Stuff
.ipynb_checkpoints/*
notebooks/
# VSCode config Log
.vscode/*
.DS_Store
# Configuration Files for Heroku
Procfile
setup.sh
.slugignore
