__pycache__/*
.azure-pipelines/
# Information about our Git Repository
.git/*
# Our GitHub Repository's essentials: ReadMe, License, Code of Conduct
README.MD
LICENSE
CODE_OF_CONDUCT.MD
# Jupyter Notebook Excreta Log
.ipynb_checkpoints/*
# VSCode config Log
.vscode/*
# Guides for Deployment
GKE_GUIDE.MD
Heroku_Tips.MD
Microsoft_Azure_Guide.MD
# Configuration Files for Heroku
Procfile
setup.sh


